.Product {
  padding: 10px;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  text-decoration: none;
  color: #000;
  background-color: #f5f5f5;
  box-shadow: 0 0 3px 2px rgba(130, 130, 130, 0.35)
}

.Product img {
  border: 1px solid #ddd;
  width: 120px;
  height: 120px;
  padding: 3px;
  /*margin: -3px 10px -3px -3px;*/
  margin-bottom: 10px;
}

.Product h4, .Product p {
  margin: 0;
}

.Product > div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.Product h4 {
  margin-right: 5px;
  font-weight: normal;
}

.Product-price {
  margin-top: 8px !important;
  font-weight: 500 !important;
  font-size: 18px;
  flex-grow: 1;
}