.Products {
  display: flex;
  align-items: flex-start;
}

.Products >:first-child {
  margin-top: 15px;
  margin-left: -15px;
  padding-left: 15px;
  flex-basis: 20%;
  min-width: 20%;
  border: solid #ccc;
  border-width: 1px 1px 1px 0;
  background-color: #f5f5f5;
  box-shadow: 0 0 3px 2px rgba(130, 130, 130, 0.35);
}

.Products >:last-child {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

.Products >:last-child > * {
  flex-basis: calc(100% / 3);
  padding: 0 10px 0 20px;
  margin: 15px 0 0;
}