.Categories ul {
  padding-left: 20px;
}

.Categories ul li {
  margin-bottom: 3px;
}

.Categories ul a {
  text-decoration: none;
  color: #000;
  padding: 3px 0;
}

.Categories ul a.active {
  /*text-decoration: underline;*/
  font-weight: bold;
}