.ProductDetails {
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-bottom: 10px;
  background-color: #f5f5f5;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
}

.ProductDetails-header {
  margin: 0 -10px;
  padding: 3px 10px;
  border-bottom: 1px solid #d5d5d5;
  font-size: 14px;
}

.ProductDetails-header > span {
  margin-right: 5px;
}

.ProductDetails h2 {
  font-size: 22px;
  margin: 10px 0;
}

.ProductDetails p {
  margin: 5px 0 10px;
  white-space: pre-wrap;
  font-size: 16px;
  line-height: 22px;
}

.ProductDetails p span {
  font-weight: bold;
}

.ProductDetails-image {
  margin: 10px 10px 10px 0;
  max-width: 25%;
  min-width: 160px;
  float: left;
}

.ProductDetails-footer {
  margin: 0 -10px;
  padding: 3px 10px;
  border-top: 1px solid #d5d5d5;
  font-size: 12px;
  color: #333;
  clear: both;
  min-height: 23px;
}

.ProductDetails button {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 8px 12px;
  margin: 5px 0;
  display: block;
}

.ProductDetails button:active {
  transform: translate(1px, -1px);
}