.Register label, .Register input {
  width: 100%;
}

.Register input {
  margin: 5px 0 10px;
  padding: 5px;
}

.Register button {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 5px 12px;
  margin-top: 5px;
  display: block;
}

.Register button:active {
  transform: translate(1px, -1px);
}