.AddProduct label {
  display: inline-block;
  width: 120px;
}

.AddProduct input, .AddProduct textarea, .AddProduct select {
  width: calc(100% - 120px);
}

.AddProduct label, .AddProduct input, .AddProduct textarea {
  margin-bottom: 15px;
  vertical-align: top;
}

.AddProduct input[type='text'],
.AddProduct input[type='number'],
.AddProduct textarea,
.AddProduct select {
  padding: 5px;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
}

.AddProduct select {
  background-color: #fff;
}

.AddProduct textarea {
  resize: vertical;
}

.AddProduct-uploadFile {
  margin: 0 !important;
  width: auto !important;
}

.AddProduct-uploadLabelName {
  display: inline-block;
  width: 120px;
  font-size: 16px;
}

.AddProduct-uploadBtn {
  display: inline-block;
  padding: 4px 8px;
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  font-size: 12px;
}

.AddProduct-uploadBtn:active {
  transform: translate(1px, -1px);
}

.AddProduct-fileName {
  margin-left: 5px;
  font-size: 12px;
  align-self: center;
}

.AddProduct-uploadFile input {
  display: none;
}

.AddProduct-postBtn {
  box-shadow: -2px 2px 3px 0 rgba(130, 130, 130, 0.35);
  border: 1px solid #ccc;
  background-color: #eee;
  padding: 8px 12px !important;
  margin: 10px 0 0 120px;
  display: block;
}

.AddProduct-postBtn:active {
  transform: translate(1px, -1px);
}

.AddProduct-category {
  margin-top: 15px;
}